/* Formatação de parágrafo */
p {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

h1 {
    color:brown;
    font-family: 'Courier New', Courier, monospace;
    font-size:100px;
    text-align: center;
    font-weight: 700;
}

h2 {
    color:darkolivegreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}